@*@using Clair.Common.RazorLib.Keys.Models;
@using Clair.Common.RazorLib.Keymaps.Models;
@using Clair.TextEditor.RazorLib.Keymaps.Models;

<select @onchange="SelectedKeymapChanged"
        class="ci_select ci_te_text-editor-input-keymap @InputViewModel.CssClass"
	    style="@InputViewModel.CssStyle">
    @{
        var keymapsList = TextEditorKeymapFacts.AllKeymapsList;
        var chosenKeymap = TextEditorService.OptionsApi.GetTextEditorOptionsState().Options.Keymap;
        
        foreach (var keymap in keymapsList)
        {
            <option value="@keymap.Key.Guid.ToString()"
                    selected="@((chosenKeymap?.Key ?? Key<Keymap>.Empty) == keymap.Key)">
                @keymap.DisplayName
            </option>
        }
    }
</select>
*@