@using Clair.Extensions.CompilerServices.Syntax
@using Clair.Extensions.CompilerServices.Syntax.NodeValues
@using Clair.Extensions.CompilerServices.Syntax.NodeReferences
@using Clair.TextEditor.RazorLib.TextEditors.Displays.Internals

@{
	var componentData = GetComponentData();
}

<div class="ci_te_text-editor-header @componentData?.WrapperCssClass ci_te_compiler-service-header"
     style="@componentData?.WrapperCssStyle">
	 
	@{
		var showDefaultToolbarLocal = _showDefaultToolbar;
		
		var appOptionsState = TextEditorService.CommonService.GetAppOptionsState();
	}
	
	<div style="justify-content: space-between; display: flex;">
		<div title="ICodeBlockOwner">
			@{
			    // These change within a background task.
			    var syntaxKind = _syntaxKind;
		    }
			
			<ErrorBoundary>
			    @switch (syntaxKind)
			    {
			        case SyntaxKind.IfStatementNode:
			            <text>
							@IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
			                IfStatementNode
		                </text>
			            break;
		            case SyntaxKind.WhileStatementNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    WhileStatementNode
		                </text>
		                break;
		            case SyntaxKind.ForStatementNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    ForStatementNode
		                </text>
		                break;
		            case SyntaxKind.ForeachStatementNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    ForeachStatementNode
		                </text>
		                break;
		            case SyntaxKind.SwitchStatementNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    SwitchStatementNode
		                </text>
		                break;
		            case SyntaxKind.DoWhileStatementNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    DoWhileStatementNode
		                </text>
		                break;
		            case SyntaxKind.TryStatementCatchNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    TryStatementCatchNode
		                </text>
		                break;
		            case SyntaxKind.TryStatementFinallyNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    TryStatementFinallyNode
		                </text>
		                break;
		            case SyntaxKind.LockStatementNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    LockStatementNode
		                </text>
		                break;
		            case SyntaxKind.TryStatementTryNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    TryStatementTryNode
		                </text>
		                break;
		            case SyntaxKind.UsingStatementCodeBlockNode:
		                <text>
	                        @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
	                        UsingStatementCodeBlockNode
	                    </text>
		                break;
		            case SyntaxKind.LambdaExpressionNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    LambdaExpressionNode
	                    </text>
		                break;
		            case SyntaxKind.GetterOrSetterNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    GetterOrSetterNode
	                    </text>
		                break;
		            case SyntaxKind.ArbitraryCodeBlockNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    ArbitraryCodeBlockNode
	                    </text>
		                break;
		            case SyntaxKind.GlobalCodeBlockNode:
		                <text>
		                    @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
		                    GlobalCodeBlockNode
	                    </text>
		                break;
		            case SyntaxKind.FunctionDefinitionNode:
						<text>
							@IconRenderer.Render(IconKind.SymbolMethod, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
							@(GetText(_identifierTextSpan, componentData))(...)
						</text>
						break;
					case SyntaxKind.ConstructorDefinitionNode:
						<text>
							@IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
							@(GetText(_identifierTextSpan, componentData))(...)
						</text>
						break;
					case SyntaxKind.TypeDefinitionNode:
						<text>
							@IconRenderer.Render(IconKind.SymbolClass, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
							@GetText(_identifierTextSpan, componentData)
						</text>
						break;
					case SyntaxKind.NamespaceStatementNode:
						<text>
							@IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
							@GetText(_identifierTextSpan, componentData)
						</text>
						break;
	                default:
	                    <text>
	                        @IconRenderer.Render(IconKind.Blank, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
	                        ???
                        </text>
	                    break;
			    }
		    </ErrorBoundary>
		</div>
	</div>
	
	<div style="justify-content: space-between; display: flex;">
	
		@{
	    	
	    }
		
		@if (showDefaultToolbarLocal)
		{
			<div class="ci_te_compiler-service-header-dropdown">
				<TextEditorDefaultHeaderDisplay ComponentDataKey="ComponentDataKey"/>
			</div>
		}
	
		<button class="ci_button"
				title="Toggle Default Toolbar"
				@onclick="ToggleDefaultToolbar">
			
			@if (showDefaultToolbarLocal)
			{
				@IconRenderer.Render(IconKind.ChevronDown, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
			}
			else
			{
				@IconRenderer.Render(IconKind.ChevronRight, appOptionsState.Options.IconSizeInPixels, appOptionsState.Options.IconSizeInPixels)
			}
		</button>
	</div>
</div>