<div class="ci_resizable-display">

    @* Cardinal Resize Handles *@
    <div class="ci_resize-handle ci_resize-handle-north ci_resize-handle-cardinal"
         style="@GetNorthResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerNorthResizeHandleAsync)">
    </div>

    <div class="ci_resize-handle ci_resize-handle-east ci_resize-handle-cardinal"
         style="@GetEastResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerEastResizeHandleAsync)">
    </div>

    <div class="ci_resize-handle ci_resize-handle-south ci_resize-handle-cardinal"
         style="@GetSouthResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerSouthResizeHandleAsync)">
    </div>

    <div class="ci_resize-handle ci_resize-handle-west ci_resize-handle-cardinal"
         style="@GetWestResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerWestResizeHandleAsync)">
    </div>
    
    @* Diagonal Resize Handles *@
    <div class="ci_resize-handle ci_resize-handle-north-east ci_resize-handle-diagonal"
         style="@GetNorthEastResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerNorthEastResizeHandleAsync)">
    </div>

    <div class="ci_resize-handle ci_resize-handle-south-east ci_resize-handle-diagonal"
         style="@GetSouthEastResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerSouthEastResizeHandleAsync)">
    </div>

    <div class="ci_resize-handle ci_resize-handle-south-west ci_resize-handle-diagonal"
         style="@GetSouthWestResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerSouthWestResizeHandleAsync)">
    </div>

    <div class="ci_resize-handle ci_resize-handle-north-west ci_resize-handle-diagonal"
         style="@GetNorthWestResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerNorthWestResizeHandleAsync)">
    </div>
</div>